/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================

   ========================================================================== */
nav li {
	display: inline;
	
	

}
/* =============================================================================
   Page Styles
   ========================================================================== */

header {
	background-color:#36d792;
		
}

#logo_picture{
}


h1 {
	color:#FFF;
	background-color:#36d792;

}

container {
	background-color: #d7eea9;
}

h2, h3 {
	color: #529d14;
}

p {
	color: #145688;
}

ul {
	color:#FFF;
}

ol {
	color: #145688;
}

nav {
	color:#FFF;
}

nav li	{
	color:white;
}
#first_column{
	background-color:#FFF;
	border:5px solid #36d792;
	padding:10px;
	padding-bottom:5px;
}

#second_column {
	background-color:#FFF;
	border:5px solid #36d792;
	padding:10px;
	padding-bottom:5px;

}
#submit_table {
	background-color:#FFF;
	border:5px solid #36d792;
	padding:10px;
	padding-bottom:5px;
}

input, textarea, select	{
	display:block;
}

textarea	{
	width:340px;
}
footer {
	background-color:#36d792;
	padding-top: 5px;
	margin-top:30px;
	text-align:center; 
}		


a:visited	{
	color:white;
}

a:hover	{
	color:red;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/